{% extends 'quiz_app/navbar.html'%}
{% load crispy_forms_tags %}
{% load poll_extras %}

{% block main_head %}
{% load static %}
	

{% endblock main_head %}

{% block main_body %}
<div class="container">
	<div class="w-100 mt-1">
        <div id="header">
          {% if useritself %}
          <form id="cover_image_form" method='post' action="/user/change/cover_image" enctype="multipart/form-data">
              {% csrf_token %}
              <a style="position: absolute; font-size: 30px;" class="btn fa fa-pencil-square" onclick="$('#cover_image').click()"></a>
              <input type="file" accept="image/*" name="cover_image" id="cover_image" style="visibility: hidden;" onchange="$('#cover_image_form').submit()">
            </form>
          {% endif %}
        </div>
          <div id="profile">
            <div class="image">
            <img src="{{user.profile.profile_pic.url}}" alt="" />
            {% if useritself %}
            <form id="profile_pic_form" method='post' action="/user/change/profile_pic" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="file" accept="image/*" name="profile_pic" id="profile_pic" style="visibility: hidden;" onchange="$('#profile_pic_form').submit()">
              <a style="position: absolute; top: 0; right: 4px;" class="btn fa fa-pencil-square p-0" onclick="$('#profile_pic').click()"></a>
            </form>
            {% endif %}
            </div>
            
          </div>
    </div>
    <div class="row mt-2">
    	
    	<div class="col-md-9">
    		<div class="card">

          <!-- Posts of User -->
          <div id="posts" style="display: block;">
            <div class="card-body">
              <h5>
                Posts of {{user.get_full_name}}
              </h5>
                  {% for post in posts %}
                    <div class="card mb-3" id="post{{post.id}}">
                      <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                              <img class="rounded-circle" width="45" height="45"
                                src="{{post.user.profile.profile_pic.url}}" alt="">
                            </div>
                            <div class="ml-2">
                              <div class="h5 m-0">{{post.user.get_full_name}}</div>
                              <div class="text-muted" style="font-size: 0.8rem;">{{post.user.username}}</div>
                            </div>
                          </div>
                          <div>
                            
                          </div>
                        </div>

                      </div>
                      

                      <div class="card-footer d-flex justify-content-center">
                        <a class="card-link m-auto click" data-toggle="collapse"
                          data-target="#post{{post.id}}comments" aria-expanded="false"
                          aria-controls="post{{post.id}}comments"><i class="fa fa-comment"></i>
                          Comment</a>
                      </div>
                      <div class="collapse" id="post{{post.id}}comments">
                        <div class="card" style="border:none">
                          <div class="card-body" id="comments_of_post{{post.id}}" style="max-height: 300px; overflow-y: scroll;
                            background-color: #f7f7f7;">
                            {% for comment in post.id|comments %}
                            <div class="media">
                              <img src="{{comment.0.user.profile.profile_pic.url}}" width="40" height="40" alt="..." class="img-thumbnail rounded mr-3">
                              <div class="media-body">
                                <b>{{comment.0.user.get_full_name}}</b>
                                <p style="font-size: 13px;">{{comment.0.comm}}</p>
                                <div id="comment{{comment.0.id}}">
                                  <button class="btn-sm mainbtn"  
                                  onclick="CommentReplyForm('comment{{comment.0.id}}',
                                   '{{comment.0.id}}', 
                                   '{{request.user.profile.profile_pic.url}}')">Reply</button>
                                </div>
                                <div id="comment{{comment.0.id}}replys">
                                {% for subcomment in comment.1 %}
                                <div class="media mt-3">
                                  <a class="mr-3" href="#">
                                    <img src="{{subcomment.user.profile.profile_pic.url}}" width="40" height="40" alt="..." class="img-thumbnail rounded">
                                  </a>
                                  <div class="media-body">
                                    <b>{{subcomment.user.get_full_name}}</b>
                                    <p style="font-size: 13px;">{{subcomment.comm}}</p>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                          <form class="card-footer p-0 m-0 input-group" style="border:none;">
                            <div class="input-group-prepend rounded-0">
                              <span class="input-group-text" style="border-radius:0">
                                <img class="rounded-circle" width="20" height="20"
                                  src="{{post.user.profile.profile_pic.url}}" alt="">
                              </span>
                            </div>
                            <input type="text" class="form-control" aria-label="Write a Comment"
                              placeholder="Write a Comment" id="comment_text_of_{{post.id}}">
                            <div class="input-group-append">
                              <button class="input-group-text btn" type="button" 
                              onclick="addComment('{{post.id}}',
                               'comment_text_of_{{post.id}}', 'comments_of_post{{post.id}}')"><i class="fa fa-paper-plane"
                                  aria-hidden="true"></i></button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  {% endfor %} 
            </div>
    			</div>
    		</div>
    	</div>
    </div>
</div>

{% endblock main_body %}
